<div class="row">
  <div class="col-md-3">
    <p>Hello <%= ( current_user.email ) %></p><br>
  </div>
</div>


<div><%= render partial: 'items/form' %></div>
<div><%= render partial: 'items/item' %></div>
