<h1><%= @user.email %></h1>

<div class="row">
  <div class="col-md-3">
    <p><%= @user.email %></p>
  </div>

<%= render partial: 'items/form' %>

  <div class="col-md-6">
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
            Items you need to do:
           </h4>
           <ul>
           <% @user.items.each do |item| %>
           <li><%= item.name %></li>
           <% end %>
           </ul>
         </div>
       </div>

     </div>
 </div>
