<div class="col-md-8 pull-left">
    <div class="media-body">
      <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Item</th>
    <th>Days Left</th>
    <th>Complete?</th>
  </tr>
  <%= render @items %>
</table>
