<tr id="item-<%= item.id %>">
        <td><%= item.name %></td>
        <td><%= item.days_left %> day(s) left</td>
        <td><%= link_to "", [current_user, item],
        method: :delete,
        class: 'glyphicon glyphicon-ok',
        remote: true %></td>
</tr>
